POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres123
POSTGRES_DB=logs
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

SECRET_KEY=change_me_secret
JWT_ALGORITHM=HS256
JWT_EXPIRE_HOURS=24

FIRST_ADMIN_USERNAME=admin
FIRST_ADMIN_PASSWORD=admin123
FIRST_ADMIN_EMAIL=admin@example.com

VITE_API_URL=http://localhost:8000
