__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

.mypy_cache/
.pytest_cache/
.ruff_cache/

.vscode/
.idea/

server/__pycache__/
server/.pytest_cache/

web/node_modules/
web/dist/

.env

db_backups
