@use "assets/styles/variables" as variables;

.layout {
  height: 100vh;

  .content {
    background-color: variables.$bg-color;
    padding: variables.$page-spacing;
    overflow: auto;
  }

  .layout-sider :global(.ant-layout-sider-children) {
    display: flex;
    flex-direction: column;
  }

  .sider-logo {
    padding: 20px 16px 12px;
  }

  .sider-logo-icon {
    color: #fff;
    font-size: 20px;
  }

  .sider-logo-title {
    color: #fff;
    margin: 0;
  }

  .sider-menu-wrapper {
    flex: 1;
  }

  :global(.ant-layout-sider-collapsed) {
    .sider-logo-title {
      display: none;
    }
  }
}