@use "assets/styles/variables" as variables;

.layout {
  height: 100vh;

  .content {
    background-color: variables.$bg-color;
    padding: variables.$page-spacing;
    overflow: auto;
  }

  .layout-header {
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }

  .sider-logo {
    padding: 20px 16px 12px;
  }

  .sider-logo-icon {
    color: #fff;
    font-size: 20px;
  }

  .sider-logo-title {
    color: #fff;
    margin: 0;
  }

  :global(.ant-layout-sider-collapsed) {
    .sider-logo-title {
      display: none;
    }
  }
}